body {
	font-weight: 300;
}
::-webkit-scrollbar {
	display: none;
}
::-webkit-scrollbar {
	width: 0px;  /* remove scrollbar space */
	background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: transparent;
}

a {
    color: #4d4d4d;
}
a, a:hover, a:link, a:active {
    text-decoration: none;
    outline: 0!important;
    box-shadow: none;
}
.btn:active, .btn:hover, .btn:focus, .btn:visited,
button:active, button:hover, button:focus, button:visited {
    outline: 0!important;
    box-shadow: none;
}


/**** Fonts ****/
/** Material Icon guide CSS **/
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.material-icons.md-18 {font-size: 18px; }
.material-icons.md-24 {font-size: 24px; }
.material-icons.md-36 {font-size: 36px; }
.material-icons.md-48 {font-size: 48px; }
.material-icons.md-dark {color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive {color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light {color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive {color: rgba(255, 255, 255, 0.3); }
/**** END Fonts ****/


/**** Main Container ****/
#main-container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding-left: 42px;
}
.wrapper {
	flex: 1;
}
#component {
	width: 100%;
}
/**** END Main Container ****/

/**** Utilites ****/
.overflow-hidden {
	overflow: hidden;
}
/**** END Utilites ****/

