<div (click)="deactivateAllNavs()" id="nav-overlay" [ngClass]="{'nav-active': (mainNavStatus == 'active')}"></div>
<nav class="navbar justify-content-between fixed-top navbar-light bg-white z-depth-1" [ngClass]="{'is-open': mainNavStatus == 'active'}">
    <a class="navbar-brand" routerLink="/"><h1 class="hide-text">Logo</h1></a>
    <a (click)="toggleMainNav()" class="nav-toggle" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">menu</i>
    </a>
</nav>
<div id="navbar-collapse" class="navbar-collapse d-flex align-items-center" [@slideInOutAnimation]="mainNavStatus">
    <ul class="navbar-nav" [@fadeInOut]="mainNavStatus">
        <li class="nav-item"><a class="nav-link" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="toggleMainNav()">home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/test" [routerLinkActive]="['active']" (click)="toggleMainNav()">test</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/test2" [routerLinkActive]="['active']" (click)="toggleMainNav()">test2</a></li>
    </ul>
</div>
