<main id="main-container">
    <div class="wrapper d-flex flex-column">


        <div class="container mt-3 mb-4">

            <div class="row d-flex">
                <div class="col-6 mx-auto">
                    <div class="card">
                        <div class="card-header primary-color white-text">
                            <h3><i class="icon ion-locked"></i> Update Your Password</h3>
                        </div>
                        <div class="card-block">
                            <p>
                                Please enter your new password,
                            </p>
                            <!-- BEGIN Form -->
                            <form [formGroup]="passwordUpdateForm" novalidate *ngIf="active"  (ngSubmit)="onSubmit()">

                            <div class="form-group mb-3">
                                <div *ngIf="formErrors.password" class="red-text">
                                    {{ formErrors.password }}
                                </div>
                                <md-input-container class="input-full-width">
                                    <input mdInput id="password" formControlName="password" placeholder="New Password" required>
                                </md-input-container>
                            </div>
                            <div class="form-group mb-3">
                                <div *ngIf="formErrors.password_confirmation" class="red-text">
                                    {{ formErrors.password_confirmation }}
                                </div>
                                <md-input-container class="input-full-width">
                                    <input mdInput id="password_confirmation" formControlName="password_confirmation" placeholder="Confirm your new password" required>
                                </md-input-container>
                            </div>

                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            </form>
                            <!--END Form -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
