<main id="main-container"><!-- wrapper for sticky footer -->
    <div class="wrapper d-flex flex-column">



        <div class="container mt-3 mb-4">

        <!--
        <p>Form value: {{ loginForm.value | json }}</p>
        <p>Form status: {{ loginForm.status | json }}</p>
        -->

            <div class="row d-flex align-items-stretch">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header primary-color white-text">
                            <h3 class="m-0"><i class="icon ion-locked"></i> Sign into your account</h3>
                        </div>
                        <div class="card-block">

                            <!-- BEGIN Form -->
                            <form [formGroup]="loginForm" novalidate *ngIf="active"  (ngSubmit)="onSubmit()">

                                <div class="form-group mb-1">
                                    <div *ngIf="formErrors.email_address" class="red-text">
                                        {{ formErrors.email_address }}
                                    </div>
                                    <md-input-container class="input-full-width">
                                        <input mdInput id="email_address" formControlName="email_address" placeholder="Email Address" required>
                                    </md-input-container>
                                </div>

                                <div class="form-group mb-1">
                                    <div *ngIf="formErrors.password" class="red-text">
                                        {{ formErrors.password }}
                                    </div>
                                    <md-input-container class="input-full-width">
                                        <input mdInput type="password" id="password" formControlName="password" placeholder="Your Password" required>
                                    </md-input-container>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn info-color">Sign In</button>
                                </div>
                            </form>
                            <!--END Form -->

                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options">
                                <a class="strong small" routerLink="/request-password-reset">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header secondary-color-dark white-text">
                            <h3 class="m-0"><i class="icon ion-person-add"></i> Reasons to Get Started</h3>
                        </div>
                        <div class="card-block">
                            <!--Body-->
                            <div class="md-form">
                                <ul>
                                    <li>1) Inventory your organization’s geospatial data</li>
                                    <li>2) Include your contact information in the Directory</li>
                                    <li>3) Receive updates and news about the GIS Inventory</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <a routerLink="/create-account" class="btn info-color">Create An Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main-footer></main-footer>
</main>
